// light
$lig-light-black: #000000;
$lig-light-white: #ffffff;
$lig-light-soft-50: #f8f8f8;
$lig-light-soft-100: #ebebeb;
$lig-light-soft-200: #d7d7d7;
$lig-light-soft-300: #b7b7b7;
$lig-light-soft-400: #989898;
$lig-light-soft-500: #7a7a7a;
$lig-light-soft-600: #5d5d5d;
$lig-light-soft-700: #424242;
$lig-light-soft-800: #2e2e2e;
$lig-light-soft-900: #181818;
$lig-light-soft-950: #090909;
$lig-light-bg: #ffffff;
$lig-light-bg-alt: #f8f8f8;
$lig-light-bg-float: #ffffff;
$lig-light-bg-reversed: #181818;
$lig-light-bg-highlight: #5d5d5d;
$lig-light-bg-selection: #f0f0f0;
$lig-light-bg-folded: #d7d7d7;
$lig-light-bg-search: #7e732e;
$lig-light-bg-substitute: #a05b5a;
$lig-light-bg-statusline: #eeeeee;
$lig-light-fg: #5d5d5d;
$lig-light-fg-secondary: #696969;
$lig-light-fg-muted: #989898;
$lig-light-fg-dim: #d7d7d7;
$lig-light-fg-reversed: #ebebeb;
$lig-light-fg-strong: #2e2e2e;
$lig-light-fg-sidebar: #989898;
$lig-light-border: #d7d7d7;
$lig-light-divider: #d7d7d7;
$lig-light-shadow: #d7d7d7;
$lig-light-accent1: #4b8053;
$lig-light-accent2: #986438;
$lig-light-keyword: #5d5d5d;
$lig-light-string: #696969;
$lig-light-comment: #989898;
$lig-light-type: #7682bc;
$lig-light-constant: #626da6;
$lig-light-number: #626da6;
$lig-light-func: #825023;
$lig-light-method: #825023;
$lig-light-operator: #696969;
$lig-light-special: #4f5990;
$lig-light-variable: #2e2e2e;
$lig-light-property: #5d5d5d;
$lig-light-tag: #4b8053;
$lig-light-git-add: #4b8053;
$lig-light-git-delete: #a05b5a;
$lig-light-git-change: #7e732e;
$lig-light-git-ignore: #989898;
$lig-light-diag-error: #a05b5a;
$lig-light-diag-warn: #7e732e;
$lig-light-diag-info: #138281;
$lig-light-diag-hint: #4b8053;
$lig-light-diag-ok: #626da6;
$lig-light-msg-success: #4b8053;
$lig-light-msg-failure: #a05b5a;
$lig-light-msg-warning: #7e732e;
$lig-light-msg-info: #138281;
$lig-light-mode-normal: #4b8053;
$lig-light-mode-insert: #181818;
$lig-light-mode-visual: #8c5f8f;
$lig-light-mode-replace: #7e732e;
$lig-light-mode-command: #626da6;
$lig-light-mode-other: #5d5d5d;
$lig-light-red-hl: #894746;
$lig-light-red-base: #a05b5a;
$lig-light-red-fd: #b6706e;
$lig-light-green-hl: #366b40;
$lig-light-green-base: #4b8053;
$lig-light-green-fd: #5f9567;
$lig-light-yellow-hl: #6a5e16;
$lig-light-yellow-base: #7e732e;
$lig-light-yellow-fd: #938744;
$lig-light-blue-hl: #4f5990;
$lig-light-blue-base: #626da6;
$lig-light-blue-fd: #7682bc;
$lig-light-magenta-hl: #774b79;
$lig-light-magenta-base: #8c5f8f;
$lig-light-magenta-fd: #a273a4;
$lig-light-cyan-hl: #006c6b;
$lig-light-cyan-base: #138281;
$lig-light-cyan-fd: #349796;
$lig-light-orange-hl: #825023;
$lig-light-orange-base: #986438;
$lig-light-orange-fd: #ae794c;
$lig-light-azure-hl: #1a6588;
$lig-light-azure-base: #337a9e;
$lig-light-azure-fd: #498fb4;
$lig-light-family-struct-highlight: #366b40;
$lig-light-family-struct-base: #4b8053;
$lig-light-family-struct-muted: #5f9567;
$lig-light-family-ref-highlight: #4f5990;
$lig-light-family-ref-base: #626da6;
$lig-light-family-ref-muted: #7682bc;
$lig-light-family-action-highlight: #825023;
$lig-light-family-action-base: #986438;
$lig-light-family-action-muted: #ae794c;
$lig-light-family-mono-highlight: #2e2e2e;
$lig-light-family-mono-base: #5d5d5d;
$lig-light-family-mono-secondary: #696969;
$lig-light-family-mono-muted: #989898;

// dark
$lig-dark-black: #000000;
$lig-dark-white: #ffffff;
$lig-dark-soft-50: #f8f8f8;
$lig-dark-soft-100: #ebebeb;
$lig-dark-soft-200: #d7d7d7;
$lig-dark-soft-300: #b7b7b7;
$lig-dark-soft-400: #989898;
$lig-dark-soft-500: #7a7a7a;
$lig-dark-soft-600: #5d5d5d;
$lig-dark-soft-700: #424242;
$lig-dark-soft-800: #2e2e2e;
$lig-dark-soft-900: #181818;
$lig-dark-soft-950: #090909;
$lig-dark-bg: #181818;
$lig-dark-bg-alt: #2e2e2e;
$lig-dark-bg-float: #181818;
$lig-dark-bg-reversed: #ebebeb;
$lig-dark-bg-highlight: #989898;
$lig-dark-bg-selection: #343434;
$lig-dark-bg-folded: #464646;
$lig-dark-bg-search: #baac5a;
$lig-dark-bg-substitute: #e6908d;
$lig-dark-bg-statusline: #262626;
$lig-dark-fg: #b7b7b7;
$lig-dark-fg-secondary: #989898;
$lig-dark-fg-muted: #7a7a7a;
$lig-dark-fg-dim: #2e2e2e;
$lig-dark-fg-reversed: #181818;
$lig-dark-fg-strong: #f8f8f8;
$lig-dark-fg-sidebar: #7a7a7a;
$lig-dark-border: #2e2e2e;
$lig-dark-divider: #2e2e2e;
$lig-dark-shadow: #2e2e2e;
$lig-dark-accent1: #7cbd85;
$lig-dark-accent2: #dc9b64;
$lig-dark-keyword: #b7b7b7;
$lig-dark-string: #989898;
$lig-dark-comment: #7a7a7a;
$lig-dark-type: #8691ca;
$lig-dark-constant: #97a5ed;
$lig-dark-number: #97a5ed;
$lig-dark-func: #eab489;
$lig-dark-method: #eab489;
$lig-dark-operator: #989898;
$lig-dark-special: #b0bdf8;
$lig-dark-variable: #f8f8f8;
$lig-dark-property: #b7b7b7;
$lig-dark-tag: #7cbd85;
$lig-dark-git-add: #7cbd85;
$lig-dark-git-delete: #e6908d;
$lig-dark-git-change: #baac5a;
$lig-dark-git-ignore: #7a7a7a;
$lig-dark-diag-error: #e6908d;
$lig-dark-diag-warn: #baac5a;
$lig-dark-diag-info: #48c0be;
$lig-dark-diag-hint: #7cbd85;
$lig-dark-diag-ok: #97a5ed;
$lig-dark-msg-success: #7cbd85;
$lig-dark-msg-failure: #e6908d;
$lig-dark-msg-warning: #baac5a;
$lig-dark-msg-info: #48c0be;
$lig-dark-mode-normal: #7cbd85;
$lig-dark-mode-insert: #ebebeb;
$lig-dark-mode-visual: #cd94cf;
$lig-dark-mode-replace: #baac5a;
$lig-dark-mode-command: #97a5ed;
$lig-dark-mode-other: #989898;
$lig-dark-red-hl: #f3aba8;
$lig-dark-red-base: #e6908d;
$lig-dark-red-fd: #c4807e;
$lig-dark-green-hl: #9cd1a2;
$lig-dark-green-base: #7cbd85;
$lig-dark-green-fd: #71a478;
$lig-dark-yellow-hl: #cdc382;
$lig-dark-yellow-base: #baac5a;
$lig-dark-yellow-fd: #a19757;
$lig-dark-blue-hl: #b0bdf8;
$lig-dark-blue-base: #97a5ed;
$lig-dark-blue-fd: #8691ca;
$lig-dark-magenta-hl: #ddaedf;
$lig-dark-magenta-base: #cd94cf;
$lig-dark-magenta-fd: #b083b2;
$lig-dark-cyan-hl: #7bd3d1;
$lig-dark-cyan-base: #48c0be;
$lig-dark-cyan-fd: #4da6a4;
$lig-dark-orange-hl: #eab489;
$lig-dark-orange-base: #dc9b64;
$lig-dark-orange-fd: #bc895f;
$lig-dark-azure-hl: #89cbf0;
$lig-dark-azure-base: #61b6e3;
$lig-dark-azure-fd: #5d9ec2;
$lig-dark-family-struct-highlight: #9cd1a2;
$lig-dark-family-struct-base: #7cbd85;
$lig-dark-family-struct-muted: #71a478;
$lig-dark-family-ref-highlight: #b0bdf8;
$lig-dark-family-ref-base: #97a5ed;
$lig-dark-family-ref-muted: #8691ca;
$lig-dark-family-action-highlight: #eab489;
$lig-dark-family-action-base: #dc9b64;
$lig-dark-family-action-muted: #bc895f;
$lig-dark-family-mono-highlight: #f8f8f8;
$lig-dark-family-mono-base: #b7b7b7;
$lig-dark-family-mono-secondary: #989898;
$lig-dark-family-mono-muted: #7a7a7a;

// light-soft
$lig-light_soft-black: #000000;
$lig-light_soft-white: #ffffff;
$lig-light_soft-soft-50: #f8f8f8;
$lig-light_soft-soft-100: #ebebeb;
$lig-light_soft-soft-200: #d7d7d7;
$lig-light_soft-soft-300: #b7b7b7;
$lig-light_soft-soft-400: #989898;
$lig-light_soft-soft-500: #7a7a7a;
$lig-light_soft-soft-600: #5d5d5d;
$lig-light_soft-soft-700: #424242;
$lig-light_soft-soft-800: #2e2e2e;
$lig-light_soft-soft-900: #181818;
$lig-light_soft-soft-950: #090909;
$lig-light_soft-bg: #f8f8f8;
$lig-light_soft-bg-alt: #ebebeb;
$lig-light_soft-bg-float: #f8f8f8;
$lig-light_soft-bg-reversed: #181818;
$lig-light_soft-bg-highlight: #5d5d5d;
$lig-light_soft-bg-selection: #e3e3e3;
$lig-light_soft-bg-folded: #cdcdcd;
$lig-light_soft-bg-search: #6b6126;
$lig-light_soft-bg-substitute: #884d4c;
$lig-light_soft-bg-statusline: #e8e8e8;
$lig-light_soft-fg: #5d5d5d;
$lig-light_soft-fg-secondary: #696969;
$lig-light_soft-fg-muted: #989898;
$lig-light_soft-fg-dim: #d7d7d7;
$lig-light_soft-fg-reversed: #ebebeb;
$lig-light_soft-fg-strong: #2e2e2e;
$lig-light_soft-fg-sidebar: #989898;
$lig-light_soft-border: #d7d7d7;
$lig-light_soft-divider: #d7d7d7;
$lig-light_soft-shadow: #d7d7d7;
$lig-light_soft-accent1: #3f6d46;
$lig-light_soft-accent2: #82552e;
$lig-light_soft-keyword: #5d5d5d;
$lig-light_soft-string: #696969;
$lig-light_soft-comment: #989898;
$lig-light_soft-type: #6771a4;
$lig-light_soft-constant: #535c8e;
$lig-light_soft-number: #535c8e;
$lig-light_soft-func: #6c411a;
$lig-light_soft-method: #6c411a;
$lig-light_soft-operator: #696969;
$lig-light_soft-special: #414978;
$lig-light_soft-variable: #2e2e2e;
$lig-light_soft-property: #5d5d5d;
$lig-light_soft-tag: #3f6d46;
$lig-light_soft-git-add: #3f6d46;
$lig-light_soft-git-delete: #884d4c;
$lig-light_soft-git-change: #6b6126;
$lig-light_soft-git-ignore: #989898;
$lig-light_soft-diag-error: #884d4c;
$lig-light_soft-diag-warn: #6b6126;
$lig-light_soft-diag-info: #0f6e6e;
$lig-light_soft-diag-hint: #3f6d46;
$lig-light_soft-diag-ok: #535c8e;
$lig-light_soft-msg-success: #3f6d46;
$lig-light_soft-msg-failure: #884d4c;
$lig-light_soft-msg-warning: #6b6126;
$lig-light_soft-msg-info: #0f6e6e;
$lig-light_soft-mode-normal: #3f6d46;
$lig-light_soft-mode-insert: #181818;
$lig-light_soft-mode-visual: #775079;
$lig-light_soft-mode-replace: #6b6126;
$lig-light_soft-mode-command: #535c8e;
$lig-light_soft-mode-other: #5d5d5d;
$lig-light_soft-red-hl: #733a39;
$lig-light_soft-red-base: #884d4c;
$lig-light_soft-red-fd: #9e615f;
$lig-light_soft-green-hl: #2b5933;
$lig-light_soft-green-base: #3f6d46;
$lig-light_soft-green-fd: #53825a;
$lig-light_soft-yellow-hl: #574e0e;
$lig-light_soft-yellow-base: #6b6126;
$lig-light_soft-yellow-fd: #7f763b;
$lig-light_soft-blue-hl: #414978;
$lig-light_soft-blue-base: #535c8e;
$lig-light_soft-blue-fd: #6771a4;
$lig-light_soft-magenta-hl: #633d65;
$lig-light_soft-magenta-base: #775079;
$lig-light_soft-magenta-fd: #8c648e;
$lig-light_soft-cyan-hl: #005958;
$lig-light_soft-cyan-base: #0f6e6e;
$lig-light_soft-cyan-fd: #2e8382;
$lig-light_soft-orange-hl: #6c411a;
$lig-light_soft-orange-base: #82552e;
$lig-light_soft-orange-fd: #976942;
$lig-light_soft-azure-hl: #125472;
$lig-light_soft-azure-base: #2a6887;
$lig-light_soft-azure-fd: #407c9c;
$lig-light_soft-family-struct-highlight: #2b5933;
$lig-light_soft-family-struct-base: #3f6d46;
$lig-light_soft-family-struct-muted: #53825a;
$lig-light_soft-family-ref-highlight: #414978;
$lig-light_soft-family-ref-base: #535c8e;
$lig-light_soft-family-ref-muted: #6771a4;
$lig-light_soft-family-action-highlight: #6c411a;
$lig-light_soft-family-action-base: #82552e;
$lig-light_soft-family-action-muted: #976942;
$lig-light_soft-family-mono-highlight: #2e2e2e;
$lig-light_soft-family-mono-base: #5d5d5d;
$lig-light_soft-family-mono-secondary: #696969;
$lig-light_soft-family-mono-muted: #989898;

// dark-soft
$lig-dark_soft-black: #000000;
$lig-dark_soft-white: #ffffff;
$lig-dark_soft-soft-50: #f8f8f8;
$lig-dark_soft-soft-100: #ebebeb;
$lig-dark_soft-soft-200: #d7d7d7;
$lig-dark_soft-soft-300: #b7b7b7;
$lig-dark_soft-soft-400: #989898;
$lig-dark_soft-soft-500: #7a7a7a;
$lig-dark_soft-soft-600: #5d5d5d;
$lig-dark_soft-soft-700: #424242;
$lig-dark_soft-soft-800: #2e2e2e;
$lig-dark_soft-soft-900: #181818;
$lig-dark_soft-soft-950: #090909;
$lig-dark_soft-bg: #181818;
$lig-dark_soft-bg-alt: #2e2e2e;
$lig-dark_soft-bg-float: #181818;
$lig-dark_soft-bg-reversed: #ebebeb;
$lig-dark_soft-bg-highlight: #989898;
$lig-dark_soft-bg-selection: #343434;
$lig-dark_soft-bg-folded: #464646;
$lig-dark_soft-bg-search: #baac5a;
$lig-dark_soft-bg-substitute: #e6908d;
$lig-dark_soft-bg-statusline: #262626;
$lig-dark_soft-fg: #b7b7b7;
$lig-dark_soft-fg-secondary: #989898;
$lig-dark_soft-fg-muted: #7a7a7a;
$lig-dark_soft-fg-dim: #2e2e2e;
$lig-dark_soft-fg-reversed: #181818;
$lig-dark_soft-fg-strong: #f8f8f8;
$lig-dark_soft-fg-sidebar: #7a7a7a;
$lig-dark_soft-border: #2e2e2e;
$lig-dark_soft-divider: #2e2e2e;
$lig-dark_soft-shadow: #2e2e2e;
$lig-dark_soft-accent1: #7cbd85;
$lig-dark_soft-accent2: #dc9b64;
$lig-dark_soft-keyword: #b7b7b7;
$lig-dark_soft-string: #989898;
$lig-dark_soft-comment: #7a7a7a;
$lig-dark_soft-type: #8691ca;
$lig-dark_soft-constant: #97a5ed;
$lig-dark_soft-number: #97a5ed;
$lig-dark_soft-func: #eab489;
$lig-dark_soft-method: #eab489;
$lig-dark_soft-operator: #989898;
$lig-dark_soft-special: #b0bdf8;
$lig-dark_soft-variable: #f8f8f8;
$lig-dark_soft-property: #b7b7b7;
$lig-dark_soft-tag: #7cbd85;
$lig-dark_soft-git-add: #7cbd85;
$lig-dark_soft-git-delete: #e6908d;
$lig-dark_soft-git-change: #baac5a;
$lig-dark_soft-git-ignore: #7a7a7a;
$lig-dark_soft-diag-error: #e6908d;
$lig-dark_soft-diag-warn: #baac5a;
$lig-dark_soft-diag-info: #48c0be;
$lig-dark_soft-diag-hint: #7cbd85;
$lig-dark_soft-diag-ok: #97a5ed;
$lig-dark_soft-msg-success: #7cbd85;
$lig-dark_soft-msg-failure: #e6908d;
$lig-dark_soft-msg-warning: #baac5a;
$lig-dark_soft-msg-info: #48c0be;
$lig-dark_soft-mode-normal: #7cbd85;
$lig-dark_soft-mode-insert: #ebebeb;
$lig-dark_soft-mode-visual: #cd94cf;
$lig-dark_soft-mode-replace: #baac5a;
$lig-dark_soft-mode-command: #97a5ed;
$lig-dark_soft-mode-other: #989898;
$lig-dark_soft-red-hl: #f3aba8;
$lig-dark_soft-red-base: #e6908d;
$lig-dark_soft-red-fd: #c4807e;
$lig-dark_soft-green-hl: #9cd1a2;
$lig-dark_soft-green-base: #7cbd85;
$lig-dark_soft-green-fd: #71a478;
$lig-dark_soft-yellow-hl: #cdc382;
$lig-dark_soft-yellow-base: #baac5a;
$lig-dark_soft-yellow-fd: #a19757;
$lig-dark_soft-blue-hl: #b0bdf8;
$lig-dark_soft-blue-base: #97a5ed;
$lig-dark_soft-blue-fd: #8691ca;
$lig-dark_soft-magenta-hl: #ddaedf;
$lig-dark_soft-magenta-base: #cd94cf;
$lig-dark_soft-magenta-fd: #b083b2;
$lig-dark_soft-cyan-hl: #7bd3d1;
$lig-dark_soft-cyan-base: #48c0be;
$lig-dark_soft-cyan-fd: #4da6a4;
$lig-dark_soft-orange-hl: #eab489;
$lig-dark_soft-orange-base: #dc9b64;
$lig-dark_soft-orange-fd: #bc895f;
$lig-dark_soft-azure-hl: #89cbf0;
$lig-dark_soft-azure-base: #61b6e3;
$lig-dark_soft-azure-fd: #5d9ec2;
$lig-dark_soft-family-struct-highlight: #9cd1a2;
$lig-dark_soft-family-struct-base: #7cbd85;
$lig-dark_soft-family-struct-muted: #71a478;
$lig-dark_soft-family-ref-highlight: #b0bdf8;
$lig-dark_soft-family-ref-base: #97a5ed;
$lig-dark_soft-family-ref-muted: #8691ca;
$lig-dark_soft-family-action-highlight: #eab489;
$lig-dark_soft-family-action-base: #dc9b64;
$lig-dark_soft-family-action-muted: #bc895f;
$lig-dark_soft-family-mono-highlight: #f8f8f8;
$lig-dark_soft-family-mono-base: #b7b7b7;
$lig-dark_soft-family-mono-secondary: #989898;
$lig-dark_soft-family-mono-muted: #7a7a7a;

