// light
$lig-light-black: #000000;
$lig-light-white: #ffffff;
$lig-light-soft-50: #fafafa;
$lig-light-soft-100: #f5f5f5;
$lig-light-soft-200: #e5e5e5;
$lig-light-soft-300: #d4d4d4;
$lig-light-soft-400: #a1a1a1;
$lig-light-soft-500: #737373;
$lig-light-soft-600: #525252;
$lig-light-soft-700: #404040;
$lig-light-soft-800: #262626;
$lig-light-soft-900: #171717;
$lig-light-soft-950: #0a0a0a;
$lig-light-bg: #fafafa;
$lig-light-bg-alt: #f5f5f5;
$lig-light-bg-float: #fafafa;
$lig-light-bg-reversed: #171717;
$lig-light-bg-highlight: #525252;
$lig-light-fg: #404040;
$lig-light-fg-muted: #a1a1a1;
$lig-light-fg-dim: #e5e5e5;
$lig-light-fg-reversed: #f5f5f5;
$lig-light-fg-strong: #0a0a0a;
$lig-light-bg-selection: #ececec;
$lig-light-bg-folded: #d1d1d1;
$lig-light-bg-search: #faca6a;
$lig-light-bg-substitute: #fa6a6a;
$lig-light-bg-statusline: #e7e7e7;
$lig-light-fg-sidebar: #a1a1a1;
$lig-light-border: #a1a1a1;
$lig-light-divider: #a1a1a1;
$lig-light-shadow: #e5e5e5;
$lig-light-mode-normal: #6aca9a;
$lig-light-mode-insert: #171717;
$lig-light-mode-visual: #ca6a9a;
$lig-light-mode-replace: #faca6a;
$lig-light-mode-command: #6a9afa;
$lig-light-mode-other: #525252;
$lig-light-accent1: #6aca9a;
$lig-light-accent2: #fa9a6a;
$lig-light-git-add: #6aca9a;
$lig-light-git-delete: #fa6a6a;
$lig-light-git-change: #faca6a;
$lig-light-git-ignore: #a1a1a1;
$lig-light-diag-error: #fa6a6a;
$lig-light-diag-warn: #faca6a;
$lig-light-diag-info: #6acaca;
$lig-light-diag-hint: #6aca9a;
$lig-light-diag-ok: #6a9afa;
$lig-light-msg-success: #6aca9a;
$lig-light-msg-failure: #fa6a6a;
$lig-light-msg-warning: #faca6a;
$lig-light-msg-info: #6acaca;
$lig-light-keyword: #404040;
$lig-light-string: #a1a1a1;
$lig-light-comment: #a1a1a1;
$lig-light-type: #6aca9a;
$lig-light-constant: #6a9afa;
$lig-light-number: #6a9afa;
$lig-light-func: #fa9a6a;
$lig-light-method: #fa9a6a;
$lig-light-operator: #a1a1a1;
$lig-light-special: #fa6a6a;
$lig-light-variable: #404040;
$lig-light-property: #404040;
$lig-light-tag: #6aca9a;

// dark
$lig-dark-black: #000000;
$lig-dark-white: #ffffff;
$lig-dark-soft-50: #fafafa;
$lig-dark-soft-100: #f5f5f5;
$lig-dark-soft-200: #e5e5e5;
$lig-dark-soft-300: #d4d4d4;
$lig-dark-soft-400: #a1a1a1;
$lig-dark-soft-500: #737373;
$lig-dark-soft-600: #525252;
$lig-dark-soft-700: #404040;
$lig-dark-soft-800: #262626;
$lig-dark-soft-900: #171717;
$lig-dark-soft-950: #0a0a0a;
$lig-dark-bg: #0a0a0a;
$lig-dark-bg-alt: #171717;
$lig-dark-bg-float: #0a0a0a;
$lig-dark-bg-reversed: #f5f5f5;
$lig-dark-bg-highlight: #a1a1a1;
$lig-dark-fg: #d4d4d4;
$lig-dark-fg-muted: #525252;
$lig-dark-fg-dim: #262626;
$lig-dark-fg-reversed: #171717;
$lig-dark-fg-strong: #fafafa;
$lig-dark-bg-selection: #202020;
$lig-dark-bg-folded: #3d3d3d;
$lig-dark-bg-search: #faca6a;
$lig-dark-bg-substitute: #fa6a6a;
$lig-dark-bg-statusline: #1e1e1e;
$lig-dark-fg-sidebar: #525252;
$lig-dark-border: #525252;
$lig-dark-divider: #525252;
$lig-dark-shadow: #262626;
$lig-dark-mode-normal: #6aca9a;
$lig-dark-mode-insert: #f5f5f5;
$lig-dark-mode-visual: #ca6a9a;
$lig-dark-mode-replace: #faca6a;
$lig-dark-mode-command: #6a9afa;
$lig-dark-mode-other: #a1a1a1;
$lig-dark-accent1: #6aca9a;
$lig-dark-accent2: #fa9a6a;
$lig-dark-git-add: #6aca9a;
$lig-dark-git-delete: #fa6a6a;
$lig-dark-git-change: #faca6a;
$lig-dark-git-ignore: #525252;
$lig-dark-diag-error: #fa6a6a;
$lig-dark-diag-warn: #faca6a;
$lig-dark-diag-info: #6acaca;
$lig-dark-diag-hint: #6aca9a;
$lig-dark-diag-ok: #6a9afa;
$lig-dark-msg-success: #6aca9a;
$lig-dark-msg-failure: #fa6a6a;
$lig-dark-msg-warning: #faca6a;
$lig-dark-msg-info: #6acaca;
$lig-dark-keyword: #d4d4d4;
$lig-dark-string: #525252;
$lig-dark-comment: #525252;
$lig-dark-type: #6aca9a;
$lig-dark-constant: #6a9afa;
$lig-dark-number: #6a9afa;
$lig-dark-func: #fa9a6a;
$lig-dark-method: #fa9a6a;
$lig-dark-operator: #525252;
$lig-dark-special: #fa6a6a;
$lig-dark-variable: #d4d4d4;
$lig-dark-property: #d4d4d4;
$lig-dark-tag: #6aca9a;

// light-soft
$lig-light_soft-black: #000000;
$lig-light_soft-white: #ffffff;
$lig-light_soft-soft-50: #fafafa;
$lig-light_soft-soft-100: #f5f5f5;
$lig-light_soft-soft-200: #e5e5e5;
$lig-light_soft-soft-300: #d4d4d4;
$lig-light_soft-soft-400: #a1a1a1;
$lig-light_soft-soft-500: #737373;
$lig-light_soft-soft-600: #525252;
$lig-light_soft-soft-700: #404040;
$lig-light_soft-soft-800: #262626;
$lig-light_soft-soft-900: #171717;
$lig-light_soft-soft-950: #0a0a0a;
$lig-light_soft-bg: #f9f9f9;
$lig-light_soft-bg-alt: #e5e5e5;
$lig-light_soft-bg-float: #f9f9f9;
$lig-light_soft-bg-reversed: #171717;
$lig-light_soft-bg-highlight: #525252;
$lig-light_soft-fg: #404040;
$lig-light_soft-fg-muted: #a1a1a1;
$lig-light_soft-fg-dim: #e5e5e5;
$lig-light_soft-fg-reversed: #f5f5f5;
$lig-light_soft-fg-strong: #0a0a0a;
$lig-light_soft-bg-selection: #dddddd;
$lig-light_soft-bg-folded: #c4c4c4;
$lig-light_soft-bg-search: #faca6a;
$lig-light_soft-bg-substitute: #fa6a6a;
$lig-light_soft-bg-statusline: #e7e7e7;
$lig-light_soft-fg-sidebar: #a1a1a1;
$lig-light_soft-border: #a1a1a1;
$lig-light_soft-divider: #a1a1a1;
$lig-light_soft-shadow: #e5e5e5;
$lig-light_soft-mode-normal: #6aca9a;
$lig-light_soft-mode-insert: #171717;
$lig-light_soft-mode-visual: #ca6a9a;
$lig-light_soft-mode-replace: #faca6a;
$lig-light_soft-mode-command: #6a9afa;
$lig-light_soft-mode-other: #525252;
$lig-light_soft-accent1: #6aca9a;
$lig-light_soft-accent2: #fa9a6a;
$lig-light_soft-git-add: #6aca9a;
$lig-light_soft-git-delete: #fa6a6a;
$lig-light_soft-git-change: #faca6a;
$lig-light_soft-git-ignore: #a1a1a1;
$lig-light_soft-diag-error: #fa6a6a;
$lig-light_soft-diag-warn: #faca6a;
$lig-light_soft-diag-info: #6acaca;
$lig-light_soft-diag-hint: #6aca9a;
$lig-light_soft-diag-ok: #6a9afa;
$lig-light_soft-msg-success: #6aca9a;
$lig-light_soft-msg-failure: #fa6a6a;
$lig-light_soft-msg-warning: #faca6a;
$lig-light_soft-msg-info: #6acaca;
$lig-light_soft-keyword: #404040;
$lig-light_soft-string: #a1a1a1;
$lig-light_soft-comment: #a1a1a1;
$lig-light_soft-type: #6aca9a;
$lig-light_soft-constant: #6a9afa;
$lig-light_soft-number: #6a9afa;
$lig-light_soft-func: #fa9a6a;
$lig-light_soft-method: #fa9a6a;
$lig-light_soft-operator: #a1a1a1;
$lig-light_soft-special: #fa6a6a;
$lig-light_soft-variable: #404040;
$lig-light_soft-property: #404040;
$lig-light_soft-tag: #6aca9a;

// dark-soft
$lig-dark_soft-black: #000000;
$lig-dark_soft-white: #ffffff;
$lig-dark_soft-soft-50: #fafafa;
$lig-dark_soft-soft-100: #f5f5f5;
$lig-dark_soft-soft-200: #e5e5e5;
$lig-dark_soft-soft-300: #d4d4d4;
$lig-dark_soft-soft-400: #a1a1a1;
$lig-dark_soft-soft-500: #737373;
$lig-dark_soft-soft-600: #525252;
$lig-dark_soft-soft-700: #404040;
$lig-dark_soft-soft-800: #262626;
$lig-dark_soft-soft-900: #171717;
$lig-dark_soft-soft-950: #0a0a0a;
$lig-dark_soft-bg: #141414;
$lig-dark_soft-bg-alt: #171717;
$lig-dark_soft-bg-float: #141414;
$lig-dark_soft-bg-reversed: #f5f5f5;
$lig-dark_soft-bg-highlight: #a1a1a1;
$lig-dark_soft-fg: #d4d4d4;
$lig-dark_soft-fg-muted: #525252;
$lig-dark_soft-fg-dim: #262626;
$lig-dark_soft-fg-reversed: #171717;
$lig-dark_soft-fg-strong: #fafafa;
$lig-dark_soft-bg-selection: #202020;
$lig-dark_soft-bg-folded: #3d3d3d;
$lig-dark_soft-bg-search: #faca6a;
$lig-dark_soft-bg-substitute: #fa6a6a;
$lig-dark_soft-bg-statusline: #272727;
$lig-dark_soft-fg-sidebar: #525252;
$lig-dark_soft-border: #525252;
$lig-dark_soft-divider: #525252;
$lig-dark_soft-shadow: #262626;
$lig-dark_soft-mode-normal: #6aca9a;
$lig-dark_soft-mode-insert: #f5f5f5;
$lig-dark_soft-mode-visual: #ca6a9a;
$lig-dark_soft-mode-replace: #faca6a;
$lig-dark_soft-mode-command: #6a9afa;
$lig-dark_soft-mode-other: #a1a1a1;
$lig-dark_soft-accent1: #6aca9a;
$lig-dark_soft-accent2: #fa9a6a;
$lig-dark_soft-git-add: #6aca9a;
$lig-dark_soft-git-delete: #fa6a6a;
$lig-dark_soft-git-change: #faca6a;
$lig-dark_soft-git-ignore: #525252;
$lig-dark_soft-diag-error: #fa6a6a;
$lig-dark_soft-diag-warn: #faca6a;
$lig-dark_soft-diag-info: #6acaca;
$lig-dark_soft-diag-hint: #6aca9a;
$lig-dark_soft-diag-ok: #6a9afa;
$lig-dark_soft-msg-success: #6aca9a;
$lig-dark_soft-msg-failure: #fa6a6a;
$lig-dark_soft-msg-warning: #faca6a;
$lig-dark_soft-msg-info: #6acaca;
$lig-dark_soft-keyword: #d4d4d4;
$lig-dark_soft-string: #525252;
$lig-dark_soft-comment: #525252;
$lig-dark_soft-type: #6aca9a;
$lig-dark_soft-constant: #6a9afa;
$lig-dark_soft-number: #6a9afa;
$lig-dark_soft-func: #fa9a6a;
$lig-dark_soft-method: #fa9a6a;
$lig-dark_soft-operator: #525252;
$lig-dark_soft-special: #fa6a6a;
$lig-dark_soft-variable: #d4d4d4;
$lig-dark_soft-property: #d4d4d4;
$lig-dark_soft-tag: #6aca9a;

