// light
$lig-light-black: #000000;
$lig-light-white: #ffffff;
$lig-light-soft-50: #f2f2f2;
$lig-light-soft-100: #dedede;
$lig-light-soft-200: #cacaca;
$lig-light-soft-300: #b7b7b7;
$lig-light-soft-400: #989898;
$lig-light-soft-500: #7a7a7a;
$lig-light-soft-600: #5d5d5d;
$lig-light-soft-700: #424242;
$lig-light-soft-800: #2e2e2e;
$lig-light-soft-900: #181818;
$lig-light-soft-950: #090909;
$lig-light-bg: #f2f2f2;
$lig-light-bg-alt: #ffffff;
$lig-light-bg-float: #f2f2f2;
$lig-light-bg-reversed: #181818;
$lig-light-bg-highlight: #5d5d5d;
$lig-light-bg-selection: #e2e2e2;
$lig-light-bg-folded: #dcdcdc;
$lig-light-bg-search: #dbb800;
$lig-light-bg-substitute: #cb4d50;
$lig-light-bg-statusline: #e2e2e2;
$lig-light-fg: #5d5d5d;
$lig-light-fg-secondary: #696969;
$lig-light-fg-muted: #989898;
$lig-light-fg-dim: #cacaca;
$lig-light-fg-reversed: #dedede;
$lig-light-fg-strong: #2e2e2e;
$lig-light-fg-sidebar: #989898;
$lig-light-border: #cacaca;
$lig-light-divider: #cacaca;
$lig-light-shadow: #cacaca;
$lig-light-accent1: #38964d;
$lig-light-accent2: #cc7200;
$lig-light-keyword: #5d5d5d;
$lig-light-string: #696969;
$lig-light-comment: #989898;
$lig-light-type: #7b8bf0;
$lig-light-constant: #6875d8;
$lig-light-number: #6875d8;
$lig-light-func: #cc7200;
$lig-light-method: #cc7200;
$lig-light-operator: #696969;
$lig-light-special: #5560c1;
$lig-light-variable: #2e2e2e;
$lig-light-property: #5d5d5d;
$lig-light-tag: #38964d;
$lig-light-git-add: #38964d;
$lig-light-git-delete: #cb4d50;
$lig-light-git-change: #dbb800;
$lig-light-git-ignore: #989898;
$lig-light-diag-error: #cb4d50;
$lig-light-diag-warn: #dbb800;
$lig-light-diag-info: #009392;
$lig-light-diag-hint: #38964d;
$lig-light-diag-ok: #6875d8;
$lig-light-msg-success: #38964d;
$lig-light-msg-failure: #cb4d50;
$lig-light-msg-warning: #dbb800;
$lig-light-msg-info: #009392;
$lig-light-mode-normal: #38964d;
$lig-light-mode-insert: #181818;
$lig-light-mode-visual: #ac5db1;
$lig-light-mode-replace: #dbb800;
$lig-light-mode-command: #6875d8;
$lig-light-mode-other: #5d5d5d;
$lig-light-red-hl: #b3363d;
$lig-light-red-base: #cb4d50;
$lig-light-red-fd: #e36364;
$lig-light-green-hl: #1d8139;
$lig-light-green-base: #38964d;
$lig-light-green-fd: #50ac62;
$lig-light-yellow-hl: #c2a200;
$lig-light-yellow-base: #dbb800;
$lig-light-yellow-fd: #f5ce00;
$lig-light-blue-hl: #5560c1;
$lig-light-blue-base: #6875d8;
$lig-light-blue-fd: #7b8bf0;
$lig-light-magenta-hl: #95489b;
$lig-light-magenta-base: #ac5db1;
$lig-light-magenta-fd: #c372c7;
$lig-light-cyan-hl: #007c7b;
$lig-light-cyan-base: #009392;
$lig-light-cyan-fd: #1baaa9;
$lig-light-orange-hl: #af6100;
$lig-light-orange-base: #cc7200;
$lig-light-orange-fd: #e4882c;
$lig-light-azure-hl: #00729e;
$lig-light-azure-base: #0088bb;
$lig-light-azure-fd: #219ed5;
$lig-light-family-struct-highlight: #1d8139;
$lig-light-family-struct-base: #38964d;
$lig-light-family-struct-muted: #50ac62;
$lig-light-family-ref-highlight: #5560c1;
$lig-light-family-ref-base: #6875d8;
$lig-light-family-ref-muted: #7b8bf0;
$lig-light-family-action-highlight: #af6100;
$lig-light-family-action-base: #cc7200;
$lig-light-family-action-muted: #e4882c;
$lig-light-family-mono-highlight: #2e2e2e;
$lig-light-family-mono-base: #5d5d5d;
$lig-light-family-mono-secondary: #696969;
$lig-light-family-mono-muted: #989898;
$lig-light-accent-yellow-fill: #dbb800;
$lig-light-text-on-yellow: #181818;

// dark
$lig-dark-black: #000000;
$lig-dark-white: #ffffff;
$lig-dark-soft-50: #f2f2f2;
$lig-dark-soft-100: #dedede;
$lig-dark-soft-200: #cacaca;
$lig-dark-soft-300: #b7b7b7;
$lig-dark-soft-400: #989898;
$lig-dark-soft-500: #7a7a7a;
$lig-dark-soft-600: #5d5d5d;
$lig-dark-soft-700: #424242;
$lig-dark-soft-800: #2e2e2e;
$lig-dark-soft-900: #181818;
$lig-dark-soft-950: #090909;
$lig-dark-bg: #090909;
$lig-dark-bg-alt: #181818;
$lig-dark-bg-float: #090909;
$lig-dark-bg-reversed: #dedede;
$lig-dark-bg-highlight: #989898;
$lig-dark-bg-selection: #1f1f1f;
$lig-dark-bg-folded: #343434;
$lig-dark-bg-search: #dbb800;
$lig-dark-bg-substitute: #f28885;
$lig-dark-bg-statusline: #171717;
$lig-dark-fg: #b7b7b7;
$lig-dark-fg-secondary: #989898;
$lig-dark-fg-muted: #7a7a7a;
$lig-dark-fg-dim: #2e2e2e;
$lig-dark-fg-reversed: #181818;
$lig-dark-fg-strong: #f2f2f2;
$lig-dark-fg-sidebar: #7a7a7a;
$lig-dark-border: #2e2e2e;
$lig-dark-divider: #2e2e2e;
$lig-dark-shadow: #2e2e2e;
$lig-dark-accent1: #73c07f;
$lig-dark-accent2: #e6964f;
$lig-dark-keyword: #b7b7b7;
$lig-dark-string: #989898;
$lig-dark-comment: #7a7a7a;
$lig-dark-type: #8390d3;
$lig-dark-constant: #95a4f6;
$lig-dark-number: #95a4f6;
$lig-dark-func: #f5b076;
$lig-dark-method: #f5b076;
$lig-dark-operator: #989898;
$lig-dark-special: #afbcff;
$lig-dark-variable: #f2f2f2;
$lig-dark-property: #b7b7b7;
$lig-dark-tag: #73c07f;
$lig-dark-git-add: #73c07f;
$lig-dark-git-delete: #f28885;
$lig-dark-git-change: #dbb800;
$lig-dark-git-ignore: #7a7a7a;
$lig-dark-diag-error: #f28885;
$lig-dark-diag-warn: #dbb800;
$lig-dark-diag-info: #26c2c1;
$lig-dark-diag-hint: #73c07f;
$lig-dark-diag-ok: #95a4f6;
$lig-dark-msg-success: #73c07f;
$lig-dark-msg-failure: #f28885;
$lig-dark-msg-warning: #dbb800;
$lig-dark-msg-info: #26c2c1;
$lig-dark-mode-normal: #73c07f;
$lig-dark-mode-insert: #dedede;
$lig-dark-mode-visual: #d78adb;
$lig-dark-mode-replace: #dbb800;
$lig-dark-mode-command: #95a4f6;
$lig-dark-mode-other: #989898;
$lig-dark-red-hl: #ffa5a2;
$lig-dark-red-base: #f28885;
$lig-dark-red-fd: #d07976;
$lig-dark-green-hl: #94d39c;
$lig-dark-green-base: #73c07f;
$lig-dark-green-fd: #69a672;
$lig-dark-yellow-hl: #f2cf3b;
$lig-dark-yellow-base: #dbb800;
$lig-dark-yellow-fd: #c2a200;
$lig-dark-blue-hl: #afbcff;
$lig-dark-blue-base: #95a4f6;
$lig-dark-blue-fd: #8390d3;
$lig-dark-magenta-hl: #e8a6ec;
$lig-dark-magenta-base: #d78adb;
$lig-dark-magenta-fd: #ba7abe;
$lig-dark-cyan-hl: #69d5d4;
$lig-dark-cyan-base: #26c2c1;
$lig-dark-cyan-fd: #35a8a7;
$lig-dark-orange-hl: #f5b076;
$lig-dark-orange-base: #e6964f;
$lig-dark-orange-fd: #c6844b;
$lig-dark-azure-hl: #7cccf8;
$lig-dark-azure-base: #51b7eb;
$lig-dark-azure-fd: #4f9fc9;
$lig-dark-family-struct-highlight: #94d39c;
$lig-dark-family-struct-base: #73c07f;
$lig-dark-family-struct-muted: #69a672;
$lig-dark-family-ref-highlight: #afbcff;
$lig-dark-family-ref-base: #95a4f6;
$lig-dark-family-ref-muted: #8390d3;
$lig-dark-family-action-highlight: #f5b076;
$lig-dark-family-action-base: #e6964f;
$lig-dark-family-action-muted: #c6844b;
$lig-dark-family-mono-highlight: #f2f2f2;
$lig-dark-family-mono-base: #b7b7b7;
$lig-dark-family-mono-secondary: #989898;
$lig-dark-family-mono-muted: #7a7a7a;
$lig-dark-accent-yellow-fill: #dbb800;
$lig-dark-text-on-yellow: #181818;

// light-paper
$lig-light_paper-black: #000000;
$lig-light_paper-white: #ffffff;
$lig-light_paper-soft-50: #f2f2f2;
$lig-light_paper-soft-100: #dedede;
$lig-light_paper-soft-200: #cacaca;
$lig-light_paper-soft-300: #b7b7b7;
$lig-light_paper-soft-400: #989898;
$lig-light_paper-soft-500: #7a7a7a;
$lig-light_paper-soft-600: #5d5d5d;
$lig-light_paper-soft-700: #424242;
$lig-light_paper-soft-800: #2e2e2e;
$lig-light_paper-soft-900: #181818;
$lig-light_paper-soft-950: #090909;
$lig-light_paper-bg: #f4f2ec;
$lig-light_paper-bg-alt: #fdfcf9;
$lig-light_paper-bg-float: #f4f2ec;
$lig-light_paper-bg-reversed: #191815;
$lig-light_paper-bg-highlight: #5f5d59;
$lig-light_paper-bg-selection: #e4e2dc;
$lig-light_paper-bg-folded: #dbdad6;
$lig-light_paper-bg-search: #dbb800;
$lig-light_paper-bg-substitute: #cb4d50;
$lig-light_paper-bg-statusline: #e4e2dc;
$lig-light_paper-fg: #5f5d59;
$lig-light_paper-fg-secondary: #6a6964;
$lig-light_paper-fg-muted: #9a9893;
$lig-light_paper-fg-dim: #cccac5;
$lig-light_paper-fg-reversed: #e0ded8;
$lig-light_paper-fg-strong: #2f2e2a;
$lig-light_paper-fg-sidebar: #9a9893;
$lig-light_paper-border: #cccac5;
$lig-light_paper-divider: #cccac5;
$lig-light_paper-shadow: #cccac5;
$lig-light_paper-accent1: #38964d;
$lig-light_paper-accent2: #cc7200;
$lig-light_paper-keyword: #5f5d59;
$lig-light_paper-string: #6a6964;
$lig-light_paper-comment: #9a9893;
$lig-light_paper-type: #7b8bf0;
$lig-light_paper-constant: #6875d8;
$lig-light_paper-number: #6875d8;
$lig-light_paper-func: #cc7200;
$lig-light_paper-method: #cc7200;
$lig-light_paper-operator: #6a6964;
$lig-light_paper-special: #5560c1;
$lig-light_paper-variable: #2f2e2a;
$lig-light_paper-property: #5f5d59;
$lig-light_paper-tag: #38964d;
$lig-light_paper-git-add: #38964d;
$lig-light_paper-git-delete: #cb4d50;
$lig-light_paper-git-change: #dbb800;
$lig-light_paper-git-ignore: #9a9893;
$lig-light_paper-diag-error: #cb4d50;
$lig-light_paper-diag-warn: #dbb800;
$lig-light_paper-diag-info: #009392;
$lig-light_paper-diag-hint: #38964d;
$lig-light_paper-diag-ok: #6875d8;
$lig-light_paper-msg-success: #38964d;
$lig-light_paper-msg-failure: #cb4d50;
$lig-light_paper-msg-warning: #dbb800;
$lig-light_paper-msg-info: #009392;
$lig-light_paper-mode-normal: #38964d;
$lig-light_paper-mode-insert: #191815;
$lig-light_paper-mode-visual: #ac5db1;
$lig-light_paper-mode-replace: #dbb800;
$lig-light_paper-mode-command: #6875d8;
$lig-light_paper-mode-other: #5f5d59;
$lig-light_paper-paper-50: #f4f2ec;
$lig-light_paper-paper-100: #e0ded8;
$lig-light_paper-paper-200: #cccac5;
$lig-light_paper-paper-300: #b9b7b2;
$lig-light_paper-paper-400: #9a9893;
$lig-light_paper-paper-500: #7c7a75;
$lig-light_paper-paper-600: #5f5d59;
$lig-light_paper-paper-700: #44423e;
$lig-light_paper-paper-800: #2f2e2a;
$lig-light_paper-paper-900: #191815;
$lig-light_paper-paper-950: #090908;
$lig-light_paper-light-raised: #fdfcf9;
$lig-light_paper-dark-canvas: #111113;
$lig-light_paper-dark-raised: #201f1c;
$lig-light_paper-red-hl: #b3363d;
$lig-light_paper-red-base: #cb4d50;
$lig-light_paper-red-fd: #e36364;
$lig-light_paper-green-hl: #1d8139;
$lig-light_paper-green-base: #38964d;
$lig-light_paper-green-fd: #50ac62;
$lig-light_paper-yellow-hl: #c2a200;
$lig-light_paper-yellow-base: #dbb800;
$lig-light_paper-yellow-fd: #f5ce00;
$lig-light_paper-blue-hl: #5560c1;
$lig-light_paper-blue-base: #6875d8;
$lig-light_paper-blue-fd: #7b8bf0;
$lig-light_paper-magenta-hl: #95489b;
$lig-light_paper-magenta-base: #ac5db1;
$lig-light_paper-magenta-fd: #c372c7;
$lig-light_paper-cyan-hl: #007c7b;
$lig-light_paper-cyan-base: #009392;
$lig-light_paper-cyan-fd: #1baaa9;
$lig-light_paper-orange-hl: #af6100;
$lig-light_paper-orange-base: #cc7200;
$lig-light_paper-orange-fd: #e4882c;
$lig-light_paper-azure-hl: #00729e;
$lig-light_paper-azure-base: #0088bb;
$lig-light_paper-azure-fd: #219ed5;
$lig-light_paper-family-struct-highlight: #1d8139;
$lig-light_paper-family-struct-base: #38964d;
$lig-light_paper-family-struct-muted: #50ac62;
$lig-light_paper-family-ref-highlight: #5560c1;
$lig-light_paper-family-ref-base: #6875d8;
$lig-light_paper-family-ref-muted: #7b8bf0;
$lig-light_paper-family-action-highlight: #af6100;
$lig-light_paper-family-action-base: #cc7200;
$lig-light_paper-family-action-muted: #e4882c;
$lig-light_paper-family-mono-highlight: #2f2e2a;
$lig-light_paper-family-mono-base: #5f5d59;
$lig-light_paper-family-mono-secondary: #6a6964;
$lig-light_paper-family-mono-muted: #9a9893;
$lig-light_paper-accent-yellow-fill: #dbb800;
$lig-light_paper-text-on-yellow: #181818;

// dark-paper
$lig-dark_paper-black: #000000;
$lig-dark_paper-white: #ffffff;
$lig-dark_paper-soft-50: #f2f2f2;
$lig-dark_paper-soft-100: #dedede;
$lig-dark_paper-soft-200: #cacaca;
$lig-dark_paper-soft-300: #b7b7b7;
$lig-dark_paper-soft-400: #989898;
$lig-dark_paper-soft-500: #7a7a7a;
$lig-dark_paper-soft-600: #5d5d5d;
$lig-dark_paper-soft-700: #424242;
$lig-dark_paper-soft-800: #2e2e2e;
$lig-dark_paper-soft-900: #181818;
$lig-dark_paper-soft-950: #090909;
$lig-dark_paper-bg: #111113;
$lig-dark_paper-bg-alt: #201f1c;
$lig-dark_paper-bg-float: #111113;
$lig-dark_paper-bg-reversed: #e0ded8;
$lig-dark_paper-bg-highlight: #9a9893;
$lig-dark_paper-bg-selection: #272622;
$lig-dark_paper-bg-folded: #3b3a36;
$lig-dark_paper-bg-search: #dbb800;
$lig-dark_paper-bg-substitute: #f28885;
$lig-dark_paper-bg-statusline: #1f1f20;
$lig-dark_paper-fg: #b9b7b2;
$lig-dark_paper-fg-secondary: #9a9893;
$lig-dark_paper-fg-muted: #7c7a75;
$lig-dark_paper-fg-dim: #2f2e2a;
$lig-dark_paper-fg-reversed: #111113;
$lig-dark_paper-fg-strong: #f4f2ec;
$lig-dark_paper-fg-sidebar: #7c7a75;
$lig-dark_paper-border: #2f2e2a;
$lig-dark_paper-divider: #2f2e2a;
$lig-dark_paper-shadow: #2f2e2a;
$lig-dark_paper-accent1: #73c07f;
$lig-dark_paper-accent2: #e6964f;
$lig-dark_paper-keyword: #b9b7b2;
$lig-dark_paper-string: #9a9893;
$lig-dark_paper-comment: #7c7a75;
$lig-dark_paper-type: #8390d3;
$lig-dark_paper-constant: #95a4f6;
$lig-dark_paper-number: #95a4f6;
$lig-dark_paper-func: #f5b076;
$lig-dark_paper-method: #f5b076;
$lig-dark_paper-operator: #9a9893;
$lig-dark_paper-special: #afbcff;
$lig-dark_paper-variable: #f4f2ec;
$lig-dark_paper-property: #b9b7b2;
$lig-dark_paper-tag: #73c07f;
$lig-dark_paper-git-add: #73c07f;
$lig-dark_paper-git-delete: #f28885;
$lig-dark_paper-git-change: #dbb800;
$lig-dark_paper-git-ignore: #7c7a75;
$lig-dark_paper-diag-error: #f28885;
$lig-dark_paper-diag-warn: #dbb800;
$lig-dark_paper-diag-info: #26c2c1;
$lig-dark_paper-diag-hint: #73c07f;
$lig-dark_paper-diag-ok: #95a4f6;
$lig-dark_paper-msg-success: #73c07f;
$lig-dark_paper-msg-failure: #f28885;
$lig-dark_paper-msg-warning: #dbb800;
$lig-dark_paper-msg-info: #26c2c1;
$lig-dark_paper-mode-normal: #73c07f;
$lig-dark_paper-mode-insert: #e0ded8;
$lig-dark_paper-mode-visual: #d78adb;
$lig-dark_paper-mode-replace: #dbb800;
$lig-dark_paper-mode-command: #95a4f6;
$lig-dark_paper-mode-other: #9a9893;
$lig-dark_paper-paper-50: #f4f2ec;
$lig-dark_paper-paper-100: #e0ded8;
$lig-dark_paper-paper-200: #cccac5;
$lig-dark_paper-paper-300: #b9b7b2;
$lig-dark_paper-paper-400: #9a9893;
$lig-dark_paper-paper-500: #7c7a75;
$lig-dark_paper-paper-600: #5f5d59;
$lig-dark_paper-paper-700: #44423e;
$lig-dark_paper-paper-800: #2f2e2a;
$lig-dark_paper-paper-900: #191815;
$lig-dark_paper-paper-950: #090908;
$lig-dark_paper-light-raised: #fdfcf9;
$lig-dark_paper-dark-canvas: #111113;
$lig-dark_paper-dark-raised: #201f1c;
$lig-dark_paper-red-hl: #ffa5a2;
$lig-dark_paper-red-base: #f28885;
$lig-dark_paper-red-fd: #d07976;
$lig-dark_paper-green-hl: #94d39c;
$lig-dark_paper-green-base: #73c07f;
$lig-dark_paper-green-fd: #69a672;
$lig-dark_paper-yellow-hl: #f2cf3b;
$lig-dark_paper-yellow-base: #dbb800;
$lig-dark_paper-yellow-fd: #c2a200;
$lig-dark_paper-blue-hl: #afbcff;
$lig-dark_paper-blue-base: #95a4f6;
$lig-dark_paper-blue-fd: #8390d3;
$lig-dark_paper-magenta-hl: #e8a6ec;
$lig-dark_paper-magenta-base: #d78adb;
$lig-dark_paper-magenta-fd: #ba7abe;
$lig-dark_paper-cyan-hl: #69d5d4;
$lig-dark_paper-cyan-base: #26c2c1;
$lig-dark_paper-cyan-fd: #35a8a7;
$lig-dark_paper-orange-hl: #f5b076;
$lig-dark_paper-orange-base: #e6964f;
$lig-dark_paper-orange-fd: #c6844b;
$lig-dark_paper-azure-hl: #7cccf8;
$lig-dark_paper-azure-base: #51b7eb;
$lig-dark_paper-azure-fd: #4f9fc9;
$lig-dark_paper-family-struct-highlight: #94d39c;
$lig-dark_paper-family-struct-base: #73c07f;
$lig-dark_paper-family-struct-muted: #69a672;
$lig-dark_paper-family-ref-highlight: #afbcff;
$lig-dark_paper-family-ref-base: #95a4f6;
$lig-dark_paper-family-ref-muted: #8390d3;
$lig-dark_paper-family-action-highlight: #f5b076;
$lig-dark_paper-family-action-base: #e6964f;
$lig-dark_paper-family-action-muted: #c6844b;
$lig-dark_paper-family-mono-highlight: #f4f2ec;
$lig-dark_paper-family-mono-base: #b9b7b2;
$lig-dark_paper-family-mono-secondary: #9a9893;
$lig-dark_paper-family-mono-muted: #7c7a75;
$lig-dark_paper-accent-yellow-fill: #dbb800;
$lig-dark_paper-text-on-yellow: #181818;

