:root {
  --lig-light-black: #000000;
  --lig-light-white: #ffffff;
  --lig-light-soft-50: #f2f2f2;
  --lig-light-soft-100: #dedede;
  --lig-light-soft-200: #cacaca;
  --lig-light-soft-300: #b7b7b7;
  --lig-light-soft-400: #989898;
  --lig-light-soft-500: #7a7a7a;
  --lig-light-soft-600: #5d5d5d;
  --lig-light-soft-700: #424242;
  --lig-light-soft-800: #2e2e2e;
  --lig-light-soft-900: #181818;
  --lig-light-soft-950: #090909;
  --lig-light-bg: #f2f2f2;
  --lig-light-bg-alt: #ffffff;
  --lig-light-bg-float: #f2f2f2;
  --lig-light-bg-reversed: #181818;
  --lig-light-bg-highlight: #5d5d5d;
  --lig-light-bg-selection: #e2e2e2;
  --lig-light-bg-folded: #dcdcdc;
  --lig-light-bg-search: #81720e;
  --lig-light-bg-substitute: #a85554;
  --lig-light-bg-statusline: #e2e2e2;
  --lig-light-fg: #5d5d5d;
  --lig-light-fg-secondary: #696969;
  --lig-light-fg-muted: #989898;
  --lig-light-fg-dim: #cacaca;
  --lig-light-fg-reversed: #dedede;
  --lig-light-fg-strong: #2e2e2e;
  --lig-light-fg-sidebar: #989898;
  --lig-light-border: #cacaca;
  --lig-light-divider: #cacaca;
  --lig-light-shadow: #cacaca;
  --lig-light-accent1: #3f834b;
  --lig-light-accent2: #a06024;
  --lig-light-keyword: #5d5d5d;
  --lig-light-string: #696969;
  --lig-light-comment: #989898;
  --lig-light-type: #7380c8;
  --lig-light-constant: #5f6bb1;
  --lig-light-number: #5f6bb1;
  --lig-light-func: #a06024;
  --lig-light-method: #a06024;
  --lig-light-operator: #696969;
  --lig-light-special: #4c579b;
  --lig-light-variable: #2e2e2e;
  --lig-light-property: #5d5d5d;
  --lig-light-tag: #3f834b;
  --lig-light-git-add: #3f834b;
  --lig-light-git-delete: #a85554;
  --lig-light-git-change: #81720e;
  --lig-light-git-ignore: #989898;
  --lig-light-diag-error: #a85554;
  --lig-light-diag-warn: #81720e;
  --lig-light-diag-info: #008282;
  --lig-light-diag-hint: #3f834b;
  --lig-light-diag-ok: #5f6bb1;
  --lig-light-msg-success: #3f834b;
  --lig-light-msg-failure: #a85554;
  --lig-light-msg-warning: #81720e;
  --lig-light-msg-info: #008282;
  --lig-light-mode-normal: #3f834b;
  --lig-light-mode-insert: #181818;
  --lig-light-mode-visual: #915a95;
  --lig-light-mode-replace: #81720e;
  --lig-light-mode-command: #5f6bb1;
  --lig-light-mode-other: #5d5d5d;
  --lig-light-red-hl: #924141;
  --lig-light-red-base: #a85554;
  --lig-light-red-fd: #c06a68;
  --lig-light-green-hl: #296e38;
  --lig-light-green-base: #3f834b;
  --lig-light-green-fd: #54985f;
  --lig-light-yellow-hl: #6b5e00;
  --lig-light-yellow-base: #81720e;
  --lig-light-yellow-fd: #96872d;
  --lig-light-blue-hl: #4c579b;
  --lig-light-blue-base: #5f6bb1;
  --lig-light-blue-fd: #7380c8;
  --lig-light-magenta-hl: #7c467f;
  --lig-light-magenta-base: #915a95;
  --lig-light-magenta-fd: #a76eab;
  --lig-light-cyan-hl: #006c6b;
  --lig-light-cyan-base: #008282;
  --lig-light-cyan-fd: #009a99;
  --lig-light-orange-hl: #894c06;
  --lig-light-orange-base: #a06024;
  --lig-light-orange-fd: #b6753b;
  --lig-light-azure-hl: #00668d;
  --lig-light-azure-base: #137ba8;
  --lig-light-azure-fd: #3390be;
  --lig-light-family-struct-highlight: #296e38;
  --lig-light-family-struct-base: #3f834b;
  --lig-light-family-struct-muted: #54985f;
  --lig-light-family-ref-highlight: #4c579b;
  --lig-light-family-ref-base: #5f6bb1;
  --lig-light-family-ref-muted: #7380c8;
  --lig-light-family-action-highlight: #894c06;
  --lig-light-family-action-base: #a06024;
  --lig-light-family-action-muted: #b6753b;
  --lig-light-family-mono-highlight: #2e2e2e;
  --lig-light-family-mono-base: #5d5d5d;
  --lig-light-family-mono-secondary: #696969;
  --lig-light-family-mono-muted: #989898;
  --lig-dark-black: #000000;
  --lig-dark-white: #ffffff;
  --lig-dark-soft-50: #f2f2f2;
  --lig-dark-soft-100: #dedede;
  --lig-dark-soft-200: #cacaca;
  --lig-dark-soft-300: #b7b7b7;
  --lig-dark-soft-400: #989898;
  --lig-dark-soft-500: #7a7a7a;
  --lig-dark-soft-600: #5d5d5d;
  --lig-dark-soft-700: #424242;
  --lig-dark-soft-800: #2e2e2e;
  --lig-dark-soft-900: #181818;
  --lig-dark-soft-950: #090909;
  --lig-dark-bg: #090909;
  --lig-dark-bg-alt: #181818;
  --lig-dark-bg-float: #090909;
  --lig-dark-bg-reversed: #dedede;
  --lig-dark-bg-highlight: #989898;
  --lig-dark-bg-selection: #1f1f1f;
  --lig-dark-bg-folded: #343434;
  --lig-dark-bg-search: #bdac4a;
  --lig-dark-bg-substitute: #ed8b88;
  --lig-dark-bg-statusline: #171717;
  --lig-dark-fg: #b7b7b7;
  --lig-dark-fg-secondary: #989898;
  --lig-dark-fg-muted: #7a7a7a;
  --lig-dark-fg-dim: #2e2e2e;
  --lig-dark-fg-reversed: #181818;
  --lig-dark-fg-strong: #f2f2f2;
  --lig-dark-fg-sidebar: #7a7a7a;
  --lig-dark-border: #2e2e2e;
  --lig-dark-divider: #2e2e2e;
  --lig-dark-shadow: #2e2e2e;
  --lig-dark-accent1: #73c07f;
  --lig-dark-accent2: #e29858;
  --lig-dark-keyword: #b7b7b7;
  --lig-dark-string: #989898;
  --lig-dark-comment: #7a7a7a;
  --lig-dark-type: #8390d3;
  --lig-dark-constant: #95a4f6;
  --lig-dark-number: #95a4f6;
  --lig-dark-func: #f1b27e;
  --lig-dark-method: #f1b27e;
  --lig-dark-operator: #989898;
  --lig-dark-special: #afbcff;
  --lig-dark-variable: #f2f2f2;
  --lig-dark-property: #b7b7b7;
  --lig-dark-tag: #73c07f;
  --lig-dark-git-add: #73c07f;
  --lig-dark-git-delete: #ed8b88;
  --lig-dark-git-change: #bdac4a;
  --lig-dark-git-ignore: #7a7a7a;
  --lig-dark-diag-error: #ed8b88;
  --lig-dark-diag-warn: #bdac4a;
  --lig-dark-diag-info: #26c2c1;
  --lig-dark-diag-hint: #73c07f;
  --lig-dark-diag-ok: #95a4f6;
  --lig-dark-msg-success: #73c07f;
  --lig-dark-msg-failure: #ed8b88;
  --lig-dark-msg-warning: #bdac4a;
  --lig-dark-msg-info: #26c2c1;
  --lig-dark-mode-normal: #73c07f;
  --lig-dark-mode-insert: #dedede;
  --lig-dark-mode-visual: #d190d4;
  --lig-dark-mode-replace: #bdac4a;
  --lig-dark-mode-command: #95a4f6;
  --lig-dark-mode-other: #989898;
  --lig-dark-red-hl: #fba7a4;
  --lig-dark-red-base: #ed8b88;
  --lig-dark-red-fd: #cc7c79;
  --lig-dark-green-hl: #94d39c;
  --lig-dark-green-base: #73c07f;
  --lig-dark-green-fd: #69a672;
  --lig-dark-yellow-hl: #d0c375;
  --lig-dark-yellow-base: #bdac4a;
  --lig-dark-yellow-fd: #a49749;
  --lig-dark-blue-hl: #afbcff;
  --lig-dark-blue-base: #95a4f6;
  --lig-dark-blue-fd: #8390d3;
  --lig-dark-magenta-hl: #e2abe5;
  --lig-dark-magenta-base: #d190d4;
  --lig-dark-magenta-fd: #b580b7;
  --lig-dark-cyan-hl: #69d5d4;
  --lig-dark-cyan-base: #26c2c1;
  --lig-dark-cyan-fd: #35a8a7;
  --lig-dark-orange-hl: #f1b27e;
  --lig-dark-orange-base: #e29858;
  --lig-dark-orange-fd: #c28653;
  --lig-dark-azure-hl: #7cccf8;
  --lig-dark-azure-base: #51b7eb;
  --lig-dark-azure-fd: #4f9fc9;
  --lig-dark-family-struct-highlight: #94d39c;
  --lig-dark-family-struct-base: #73c07f;
  --lig-dark-family-struct-muted: #69a672;
  --lig-dark-family-ref-highlight: #afbcff;
  --lig-dark-family-ref-base: #95a4f6;
  --lig-dark-family-ref-muted: #8390d3;
  --lig-dark-family-action-highlight: #f1b27e;
  --lig-dark-family-action-base: #e29858;
  --lig-dark-family-action-muted: #c28653;
  --lig-dark-family-mono-highlight: #f2f2f2;
  --lig-dark-family-mono-base: #b7b7b7;
  --lig-dark-family-mono-secondary: #989898;
  --lig-dark-family-mono-muted: #7a7a7a;
  --lig-light_paper-black: #000000;
  --lig-light_paper-white: #ffffff;
  --lig-light_paper-soft-50: #f2f2f2;
  --lig-light_paper-soft-100: #dedede;
  --lig-light_paper-soft-200: #cacaca;
  --lig-light_paper-soft-300: #b7b7b7;
  --lig-light_paper-soft-400: #989898;
  --lig-light_paper-soft-500: #7a7a7a;
  --lig-light_paper-soft-600: #5d5d5d;
  --lig-light_paper-soft-700: #424242;
  --lig-light_paper-soft-800: #2e2e2e;
  --lig-light_paper-soft-900: #181818;
  --lig-light_paper-soft-950: #090909;
  --lig-light_paper-bg: #f4f2ec;
  --lig-light_paper-bg-alt: #fdfcf9;
  --lig-light_paper-bg-float: #f4f2ec;
  --lig-light_paper-bg-reversed: #191815;
  --lig-light_paper-bg-highlight: #5f5d59;
  --lig-light_paper-bg-selection: #e4e2dc;
  --lig-light_paper-bg-folded: #dbdad6;
  --lig-light_paper-bg-search: #81720e;
  --lig-light_paper-bg-substitute: #a85554;
  --lig-light_paper-bg-statusline: #e4e2dc;
  --lig-light_paper-fg: #5f5d59;
  --lig-light_paper-fg-secondary: #6a6964;
  --lig-light_paper-fg-muted: #9a9893;
  --lig-light_paper-fg-dim: #cccac5;
  --lig-light_paper-fg-reversed: #e0ded8;
  --lig-light_paper-fg-strong: #2f2e2a;
  --lig-light_paper-fg-sidebar: #9a9893;
  --lig-light_paper-border: #cccac5;
  --lig-light_paper-divider: #cccac5;
  --lig-light_paper-shadow: #cccac5;
  --lig-light_paper-accent1: #3f834b;
  --lig-light_paper-accent2: #a06024;
  --lig-light_paper-keyword: #5f5d59;
  --lig-light_paper-string: #6a6964;
  --lig-light_paper-comment: #9a9893;
  --lig-light_paper-type: #7380c8;
  --lig-light_paper-constant: #5f6bb1;
  --lig-light_paper-number: #5f6bb1;
  --lig-light_paper-func: #a06024;
  --lig-light_paper-method: #a06024;
  --lig-light_paper-operator: #6a6964;
  --lig-light_paper-special: #4c579b;
  --lig-light_paper-variable: #2f2e2a;
  --lig-light_paper-property: #5f5d59;
  --lig-light_paper-tag: #3f834b;
  --lig-light_paper-git-add: #3f834b;
  --lig-light_paper-git-delete: #a85554;
  --lig-light_paper-git-change: #81720e;
  --lig-light_paper-git-ignore: #9a9893;
  --lig-light_paper-diag-error: #a85554;
  --lig-light_paper-diag-warn: #81720e;
  --lig-light_paper-diag-info: #008282;
  --lig-light_paper-diag-hint: #3f834b;
  --lig-light_paper-diag-ok: #5f6bb1;
  --lig-light_paper-msg-success: #3f834b;
  --lig-light_paper-msg-failure: #a85554;
  --lig-light_paper-msg-warning: #81720e;
  --lig-light_paper-msg-info: #008282;
  --lig-light_paper-mode-normal: #3f834b;
  --lig-light_paper-mode-insert: #191815;
  --lig-light_paper-mode-visual: #915a95;
  --lig-light_paper-mode-replace: #81720e;
  --lig-light_paper-mode-command: #5f6bb1;
  --lig-light_paper-mode-other: #5f5d59;
  --lig-light_paper-paper-50: #f4f2ec;
  --lig-light_paper-paper-100: #e0ded8;
  --lig-light_paper-paper-200: #cccac5;
  --lig-light_paper-paper-300: #b9b7b2;
  --lig-light_paper-paper-400: #9a9893;
  --lig-light_paper-paper-500: #7c7a75;
  --lig-light_paper-paper-600: #5f5d59;
  --lig-light_paper-paper-700: #44423e;
  --lig-light_paper-paper-800: #2f2e2a;
  --lig-light_paper-paper-900: #191815;
  --lig-light_paper-paper-950: #090908;
  --lig-light_paper-light-raised: #fdfcf9;
  --lig-light_paper-dark-canvas: #111113;
  --lig-light_paper-dark-raised: #201f1c;
  --lig-light_paper-red-hl: #924141;
  --lig-light_paper-red-base: #a85554;
  --lig-light_paper-red-fd: #c06a68;
  --lig-light_paper-green-hl: #296e38;
  --lig-light_paper-green-base: #3f834b;
  --lig-light_paper-green-fd: #54985f;
  --lig-light_paper-yellow-hl: #6b5e00;
  --lig-light_paper-yellow-base: #81720e;
  --lig-light_paper-yellow-fd: #96872d;
  --lig-light_paper-blue-hl: #4c579b;
  --lig-light_paper-blue-base: #5f6bb1;
  --lig-light_paper-blue-fd: #7380c8;
  --lig-light_paper-magenta-hl: #7c467f;
  --lig-light_paper-magenta-base: #915a95;
  --lig-light_paper-magenta-fd: #a76eab;
  --lig-light_paper-cyan-hl: #006c6b;
  --lig-light_paper-cyan-base: #008282;
  --lig-light_paper-cyan-fd: #009a99;
  --lig-light_paper-orange-hl: #894c06;
  --lig-light_paper-orange-base: #a06024;
  --lig-light_paper-orange-fd: #b6753b;
  --lig-light_paper-azure-hl: #00668d;
  --lig-light_paper-azure-base: #137ba8;
  --lig-light_paper-azure-fd: #3390be;
  --lig-light_paper-family-struct-highlight: #296e38;
  --lig-light_paper-family-struct-base: #3f834b;
  --lig-light_paper-family-struct-muted: #54985f;
  --lig-light_paper-family-ref-highlight: #4c579b;
  --lig-light_paper-family-ref-base: #5f6bb1;
  --lig-light_paper-family-ref-muted: #7380c8;
  --lig-light_paper-family-action-highlight: #894c06;
  --lig-light_paper-family-action-base: #a06024;
  --lig-light_paper-family-action-muted: #b6753b;
  --lig-light_paper-family-mono-highlight: #2f2e2a;
  --lig-light_paper-family-mono-base: #5f5d59;
  --lig-light_paper-family-mono-secondary: #6a6964;
  --lig-light_paper-family-mono-muted: #9a9893;
  --lig-dark_paper-black: #000000;
  --lig-dark_paper-white: #ffffff;
  --lig-dark_paper-soft-50: #f2f2f2;
  --lig-dark_paper-soft-100: #dedede;
  --lig-dark_paper-soft-200: #cacaca;
  --lig-dark_paper-soft-300: #b7b7b7;
  --lig-dark_paper-soft-400: #989898;
  --lig-dark_paper-soft-500: #7a7a7a;
  --lig-dark_paper-soft-600: #5d5d5d;
  --lig-dark_paper-soft-700: #424242;
  --lig-dark_paper-soft-800: #2e2e2e;
  --lig-dark_paper-soft-900: #181818;
  --lig-dark_paper-soft-950: #090909;
  --lig-dark_paper-bg: #111113;
  --lig-dark_paper-bg-alt: #201f1c;
  --lig-dark_paper-bg-float: #111113;
  --lig-dark_paper-bg-reversed: #e0ded8;
  --lig-dark_paper-bg-highlight: #9a9893;
  --lig-dark_paper-bg-selection: #272622;
  --lig-dark_paper-bg-folded: #3b3a36;
  --lig-dark_paper-bg-search: #bdac4a;
  --lig-dark_paper-bg-substitute: #ed8b88;
  --lig-dark_paper-bg-statusline: #1f1f20;
  --lig-dark_paper-fg: #b9b7b2;
  --lig-dark_paper-fg-secondary: #9a9893;
  --lig-dark_paper-fg-muted: #7c7a75;
  --lig-dark_paper-fg-dim: #2f2e2a;
  --lig-dark_paper-fg-reversed: #111113;
  --lig-dark_paper-fg-strong: #f4f2ec;
  --lig-dark_paper-fg-sidebar: #7c7a75;
  --lig-dark_paper-border: #2f2e2a;
  --lig-dark_paper-divider: #2f2e2a;
  --lig-dark_paper-shadow: #2f2e2a;
  --lig-dark_paper-accent1: #73c07f;
  --lig-dark_paper-accent2: #e29858;
  --lig-dark_paper-keyword: #b9b7b2;
  --lig-dark_paper-string: #9a9893;
  --lig-dark_paper-comment: #7c7a75;
  --lig-dark_paper-type: #8390d3;
  --lig-dark_paper-constant: #95a4f6;
  --lig-dark_paper-number: #95a4f6;
  --lig-dark_paper-func: #f1b27e;
  --lig-dark_paper-method: #f1b27e;
  --lig-dark_paper-operator: #9a9893;
  --lig-dark_paper-special: #afbcff;
  --lig-dark_paper-variable: #f4f2ec;
  --lig-dark_paper-property: #b9b7b2;
  --lig-dark_paper-tag: #73c07f;
  --lig-dark_paper-git-add: #73c07f;
  --lig-dark_paper-git-delete: #ed8b88;
  --lig-dark_paper-git-change: #bdac4a;
  --lig-dark_paper-git-ignore: #7c7a75;
  --lig-dark_paper-diag-error: #ed8b88;
  --lig-dark_paper-diag-warn: #bdac4a;
  --lig-dark_paper-diag-info: #26c2c1;
  --lig-dark_paper-diag-hint: #73c07f;
  --lig-dark_paper-diag-ok: #95a4f6;
  --lig-dark_paper-msg-success: #73c07f;
  --lig-dark_paper-msg-failure: #ed8b88;
  --lig-dark_paper-msg-warning: #bdac4a;
  --lig-dark_paper-msg-info: #26c2c1;
  --lig-dark_paper-mode-normal: #73c07f;
  --lig-dark_paper-mode-insert: #e0ded8;
  --lig-dark_paper-mode-visual: #d190d4;
  --lig-dark_paper-mode-replace: #bdac4a;
  --lig-dark_paper-mode-command: #95a4f6;
  --lig-dark_paper-mode-other: #9a9893;
  --lig-dark_paper-paper-50: #f4f2ec;
  --lig-dark_paper-paper-100: #e0ded8;
  --lig-dark_paper-paper-200: #cccac5;
  --lig-dark_paper-paper-300: #b9b7b2;
  --lig-dark_paper-paper-400: #9a9893;
  --lig-dark_paper-paper-500: #7c7a75;
  --lig-dark_paper-paper-600: #5f5d59;
  --lig-dark_paper-paper-700: #44423e;
  --lig-dark_paper-paper-800: #2f2e2a;
  --lig-dark_paper-paper-900: #191815;
  --lig-dark_paper-paper-950: #090908;
  --lig-dark_paper-light-raised: #fdfcf9;
  --lig-dark_paper-dark-canvas: #111113;
  --lig-dark_paper-dark-raised: #201f1c;
  --lig-dark_paper-red-hl: #fba7a4;
  --lig-dark_paper-red-base: #ed8b88;
  --lig-dark_paper-red-fd: #cc7c79;
  --lig-dark_paper-green-hl: #94d39c;
  --lig-dark_paper-green-base: #73c07f;
  --lig-dark_paper-green-fd: #69a672;
  --lig-dark_paper-yellow-hl: #d0c375;
  --lig-dark_paper-yellow-base: #bdac4a;
  --lig-dark_paper-yellow-fd: #a49749;
  --lig-dark_paper-blue-hl: #afbcff;
  --lig-dark_paper-blue-base: #95a4f6;
  --lig-dark_paper-blue-fd: #8390d3;
  --lig-dark_paper-magenta-hl: #e2abe5;
  --lig-dark_paper-magenta-base: #d190d4;
  --lig-dark_paper-magenta-fd: #b580b7;
  --lig-dark_paper-cyan-hl: #69d5d4;
  --lig-dark_paper-cyan-base: #26c2c1;
  --lig-dark_paper-cyan-fd: #35a8a7;
  --lig-dark_paper-orange-hl: #f1b27e;
  --lig-dark_paper-orange-base: #e29858;
  --lig-dark_paper-orange-fd: #c28653;
  --lig-dark_paper-azure-hl: #7cccf8;
  --lig-dark_paper-azure-base: #51b7eb;
  --lig-dark_paper-azure-fd: #4f9fc9;
  --lig-dark_paper-family-struct-highlight: #94d39c;
  --lig-dark_paper-family-struct-base: #73c07f;
  --lig-dark_paper-family-struct-muted: #69a672;
  --lig-dark_paper-family-ref-highlight: #afbcff;
  --lig-dark_paper-family-ref-base: #95a4f6;
  --lig-dark_paper-family-ref-muted: #8390d3;
  --lig-dark_paper-family-action-highlight: #f1b27e;
  --lig-dark_paper-family-action-base: #e29858;
  --lig-dark_paper-family-action-muted: #c28653;
  --lig-dark_paper-family-mono-highlight: #f4f2ec;
  --lig-dark_paper-family-mono-base: #b9b7b2;
  --lig-dark_paper-family-mono-secondary: #9a9893;
  --lig-dark_paper-family-mono-muted: #7c7a75;
}

